body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
  }

html{
    background-color: #00539F;
  
    
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow:cornflowerblue;
  }
p,li{
font-size: 18px;
letter-spacing: 1px;

}